@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/Content/css/loginStyles.css"> <!-- 引入样式表 -->
</head>

<body>
    <div class="background-img">
        <ul>
            <form name="login" method="post">
                <h1>Login</h1>
                <input type="text" name="UserName" placeholder="用户名" />
                <input type="text" name="PassWord" placeholder="密码" />
                <select name="Role">
                    <option value="" disabled selected hidden>请选择登录角色</option>
                    <option value="Student">学生</option>
                    <option value="Teacher">教师</option>
                    <option value="Admin">管理员</option>
                </select>
                <button type="submit">登录</button>
            </form>
        </ul>

    </div>
</body>

<script>
    // 页面加载完成时执行的函数
    window.onload = function() {
        // 检查是否有错误消息存在
        var errorMessage = "@TempData["ErrorMessage"]";
        if (errorMessage) {
            // 弹出提示框显示错误消息
            alert(errorMessage);
        }
    };
</script>

</html>
