
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HomePage</title>
    <link href="https://cdn.bootcdn.net/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/138cefeda3.js" crossorigin="anonymous"></script>
    <link  rel="stylesheet" href="~/Content/css/homePage.css"/>
</head>
<body>
    <div class="navbar">
        <input type="checkbox" id="checkbox">
        <label>
            <i class="fa-solid fa-bars"></i>
        </label>
        <ul>
            <li>
                <img src="~/Content/img/1.jpg" alt="">
                <span>欢迎您！{Name}</span>
            </li>
            <li>
                <a href="http://localhost:1125/Student/Index" target="abc">
                    <i class="fa-solid fa-house"></i>
                    <span type="button">功能1</span>
                </a>

            </li>
            <li>
                <a href="https://www.bilibili.com" target="abc">
                    <i class="fa-solid fa-sitemap"></i>
                    <span>功能2</span>
                </a>

            </li>
            <li>
                <a href="http://localhost:1125/HomePage/Index">
                    <i class="fa-solid fa-star"></i>
                    <span>功能3</span>
                </a>

            </li>
            <li>
                <a href="javascript:void(0)">
                    <i class="fa-solid fa-shopping-bag"></i>
                    <span>功能4</span>
                </a>

            </li>
            <li>
                <a href="javascript:void(0)">
                    <i class="fa-solid fa-th-large"></i>
                    <span>功能5</span>
                </a>

            </li>

        </ul>

    </div>
    <div class="table">
        <iframe height="80%" width="80%" name="abc"></iframe><!--左侧-->
    </div>

</body>
</html>
