
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>学生选课系统</title>
    <style type="text/css">
        p {
            text-align: center;
        }
    </style>
</head>
<body>
    <div>
        <p style="font-size: 200px;">学生选课系统</p>
    </div>
</body>
</html>
